* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

/* Set the background color */
.container {
    width: 100%;
    height: 100vh;
    /* Mix 2 Colours. blac-k on left side and getting blu-e on the right side*/
    background-image: radial-gradient(
        closest-side at 5% 10%, rgb(0, 0, 0), 
        rgb(11, 54, 88) 1000% /* 1000% increase the color transition*/
    );
    display: flex;
    justify-content: center;
    align-items: center;
    /* give a 3d environment for the element-swing*/
    perspective: 150rem;
    /* hides the scroll bar*/
    overflow: hidden;
}

.swing {
    width: 40rem;
    height: 20rem;
    background-color: rgba(206, 216, 91, 0.7);
    /* rotate the swing */
    transform: rotateX(70deg) rotateZ(-40deg)
     rotateY(5deg);
     /* gives a 3d shape*/
     transform-style: preserve-3d;
     position: absolute;
     top: 50%;
     /* moves it*/
     transform-origin: top;
}

/* activate the animation*/
.swing-1 {
    animation: swingAnim 20s infinite ease-in-out;
}

.swing-2 {
    animation: swingAnim 20s -4s infinite ease-in-out;
}

.swing-3 {
    animation: swingAnim 20s -8s infinite ease-in-out;
}

.swing-4 {
    animation: swingAnim 20s -12s infinite ease-in-out;
}

.swing-5 {
    animation: swingAnim 20s -16s infinite ease-in-out;
}

/* run the animation*/
.swing-6 {
    animation: swing6Anim 4s -1s infinite ease-in-out;
    background-color: transparent;
}

/* hide the elements*/
.swing-6 div:not(.ball) {
    opacity: 0;
}

/* hide the 'before' & 'after' elements*/
.swing-6::before,
.swing-6::after {
    opacity: 0;
}

/* move the swing in 3d space => animation*/
@keyframes swingAnim{
    0% {
        transform: rotateX(70deg) rotateZ(-40deg)
     rotateY(5deg) translateY(100rem);
    }

    20% {
         transform: rotateX(70deg) rotateZ(-40deg)
     rotateY(5deg) translateY(21rem);
    }

      25% {
         transform: rotateX(70deg) rotateZ(-40deg)
     rotateY(5deg) translateY(27rem);
    }

     35%,
     40% {
         transform: rotateX(70deg) rotateZ(-40deg)
     rotateY(5deg) translateY(0);
    }

     50% {
         transform: rotateX(70deg) rotateZ(-40deg)
     rotateY(5deg) translateY(-60rem);
    }

     55% {
         transform: rotateX(70deg) rotateZ(-40deg)
     rotateY(5deg) translateY(-55rem);
    }

     65%,
     70% {
         transform: rotateX(70deg) rotateZ(-40deg)
     rotateY(5deg) translateY(-84rem);
    }

     100% {
         transform: rotateX(70deg) rotateZ(-40deg)
     rotateY(5deg) translateY(-800rem);
    }   
}

@keyframes swing6Anim {
    0% {
        transform: rotateX(70deg) rotateZ(-40deg)
     rotateY(5deg) translateY(0);
    }

     50% {
        transform: rotateX(70deg) rotateZ(-40deg)
     rotateY(5deg) translateY(30rem);
    }
    
     100% {
        transform: rotateX(70deg) rotateZ(-40deg)
     rotateY(5deg) translateY(0);
    }
    
}

/* buils us the side => that gives the 3d illusion on left side */
.swing::before {
    content: "";
    width: 1rem;
    height: 100%;
    background-color: #b4bb65;
    position: absolute;
    transform: rotateY(90deg);
    transform-origin: left;
}

/* buils up the front side that gives the 3d illution on front side */
.swing::after {
    content: "";
    width: 100%;
    height: 1rem;
    background-color: #e2ec6c;
    position: absolute;
    bottom: 0;
    transform: rotateX(90deg);
     transform-origin: bottom;
}

/* circles on the swing- that holds the ropes */
.circle {
    width: 3rem;
    height: 3rem;
    background-color: #c5c757;
    border-radius: 50%;
    position: absolute;
    display: grid;
    place-items: center;
    /* gives a 3d environment */
    transform-style: preserve-3d;
}

.circle-1 {
    top: 1rem;
    left: 1rem;
}

.circle-2 {
    top: 1rem;
    right: 1rem;
}

.circle-3 {
    bottom: 1rem;
    right: 1rem;
}

.circle-4 {
    bottom: 1rem;
    left: 1rem;
}

/* create the whit-e elements that goes on top of the circles 
- an extension like some buttons*/
.circle::before {
    content: "";
    width: 1.8rem;
    height: 1.8rem;
    background-color: #e9d8d8;
    position: absolute;
    border-radius: 50%;
    /* gives a 3d environment */
    transform: translateZ(0.3rem);
}

.rope {
    height: 40rem;
    width: 0.3rem;
    background-color: #fff;
    position: absolute;
    /* rotate the rope*/
    transform: translateZ(20rem) rotateX(90deg) rotateY(90deg);
    /* raise the rope*/
    transform-origin: top;
}

.rope-1 {
    top: 10rem;
    left: 2.5rem;
}

.rope-2 {
    top: 10rem;
    right: 2.5rem;
}

/* extend the front of rope to connect it with the swing */
.rope::before {
    content: "";
    width: 0.3rem;
    height: 23rem;
    background-color: #fff;
    position: absolute;
    /* move the extended rope downer*/
    transform: translateY(-23rem) rotateZ(21deg);
    /* connect the extended rope with the top ones*/
    transform-origin: bottom;
}
/*create the back side to connect it with the swing */
.rope::after {
    content: "";
    width: 0.3rem;
    height: 23rem;
    background-color: #fff;
    position: absolute;
    /* move the extended rope downer*/
    transform: translateY(-23rem) rotateZ(-21deg);
    /* moves the extended rope */
    transform-origin: bottom;
}

.ball {
    width: 7rem;
    aspect-ratio: 1;
    background-image: radial-gradient(rgba(159, 238, 156, 0.9),
     rgba(30, 110, 6, 0.8));
     position: relative;
     left: 15rem;
     top: 10rem;
     border-radius: 50%;
     /* rotate the ball*/
     transform: rotateX(90deg) rotateY(40deg);
     transform-origin: top;
     box-shadow: 0 0 0.2rem #333;
}